#mainContainer{
    display: flex;
    gap: 30px;
}

#form{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#allUsers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
}

.card{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    margin: 20px;
}

